#debug-output canvas
{
	width:100%;
	height:256px;
	background-color: #FAFAFA;
}

#gain-slider .slider-selection, #span-slider .slider-selection {
	background: #00AAFF;
}

#gain-slider .slider-track, #span-slider .slider-track
{
	background: #7ED4FF
}

.slider-handle
{
	opacity: 1 !important;
}

#fftSpan
{
	display:none;
}



.btn::-moz-focus-inner /* Source: https://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links */
{
	border: 0;
}

.btn:focus, .btn:active, .btn:active:focus, .btn.active:focus
{ /* Source: https://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links */
	outline:none;
	border:0;
}

.module
{
	display:none;
}